@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,500&family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    color:#fff;
}

.logo{
  font-family: 'Dancing Script', cursive;
  font-size: 54px;
}

#home{
    background-image: url('../../assets/home2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.work{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dev-stroke{
  position: relative;
  -webkit-text-stroke: 0.7px #1cd8fd;
  background-image: linear-gradient(#1cd8fd, #1cd8fd);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: devText 6s linear infinite;
  animation-delay: 2s;
}

.spiner {
    animation: spin infinite 10s linear;
}

@keyframes devText {
  0%,10%,100%{
    background-position: -80rem 0;
  }

  65%,85%{
    background-position: 0 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes showRight {
  100% {
    width:0;
  }
}

@keyframes loadingRotate1 {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  } 
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes loadingRotate2 {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  } 
  100% {
    transform: rotateX(50deg) rotateY(-10deg) rotateZ(360deg);
  }
}

@keyframes loadingRotate3 {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  } 
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
/*mobile rotation */
@media screen and (max-height: 500px) {
  .mobile-nav{
    max-height: 280px !important;
    padding: 0 !important;
  }
  .mobile-nav .logo{
    width: 70px !important;
  }
  .mobile-nav p, .mobile-nav .nav-items, .mobile-nav .nav-items li{
    margin: 2px 5px !important;
    padding: 2px  !important;
  }

  #home .homeContainer{
    width: 80% !important;
  }

  #home .profileContainer{
    width: 20% !important;
  }

  #home h1{
    margin: -10px 5px !important;
    top:30px !important;
    font-size: 1.5rem !important;
    line-height: 2rem !important;
  }
  #home p {
    font-size: 10px !important;
    line-height: 12px !important;
  }
  #home .sm-h-flex{
    flex-direction: row !important;
  }
  #home h2{
    margin: -5px 5px !important;
    top: 20px !important;
    font-size: 1.5rem !important;
    line-height: 2rem !important;
  }
  #home a {
    max-height: 25px !important;
    margin-top: -25px;
  }
  #home a span{
    font-size: 10px !important;
    top:-12px !important;
  }

  #about .profile{
    max-height: 70px !important;
    max-width: 70px !important;
  }

  #about h2{
    font-size: 1.875rem !important;
    line-height: 2.25rem !important;
  }

  #about h3{
    display: none !important;
  }

  .modal-container .modal-icon{
    height: 70px !important;
    width: 70px !important;
  }

  .modal-container .modal-icon .spiner{
    height: 89px !important;
    width: 89px !important;
  }

  .modal-container p {
    font-size: 10px !important;
  }

  #works h2{
    font-size: 1.875rem !important;
    line-height: 2.25rem !important;
  }

  #works .grid{
    grid-template-columns: 1fr 1fr 1fr !important;
  }

  #works .grid .card-h{
    height: 80px !important;
  }

  #contact h2{
    font-size: 1.875rem !important;
    line-height: 2.25rem !important;
    margin: 0 !important;
  }

  #contact form .grid {
    grid-template-columns: 1fr 1fr;
  }

  #contact .input{
    max-width: 250px !important;
    margin: 1px 8px!important;
    padding: 15px !important;
  }

  #contact .input input{
    top:-10px !important;
  }
  #contact .textarea{
    margin:0 -5px !important;
    max-height: 60px !important;
    width: 516px !important;
  }

  #contact .send-btn{
    width: 516px !important;
    padding: 4px !important;
  }

  #contact .arrow{
    bottom: 0 !important;
  }
}
  


